{% extends 'proyecto_tlp/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Bienvenido a ENC</h1>

{% if request.user.is_authenticated %}
<p>Tu produccion registrada es:</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>

        <!-- Aplicar for aqui para tomar de forma dinamica-->
        <th scope="col">Código</th>
        <th scope="col">Litros</th>
        <th scope="col">Fecha</th>
        <th scope="col">Turno</th>
        <th scope="col">Hora</th>


      </tr>
    </thead>
    <tbody>
         <!-- Aplicar for aqui para tomar de forma dinamica-->
        {%for registro in registros%}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{registro.producto}}</td>
                <td>{{registro.cantidad}}</td>
                <td>{{registro.fecha_produccion}}</td>
                <td>{{registro.turno}}</td>
                <td>{{registro.hora_registro}}</td>
            </tr>
        {% endfor %}

    </tbody>
  </table>

{% else %}
<h4>Recuerde iniciar sesion</h4>
{% endif %}


{% endblock %}