{% extends 'proyecto_tlp/base.html' %}

{% block title %}Listar Producción{% endblock %}

{% block content %}
<h1>Bienvenido a ENC</h1>

{% if request.user.is_authenticated %}
<p>Tu producción registrada es:</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código</th>
        <th scope="col">Litros</th>
        <th scope="col">Fecha</th>
        <th scope="col">Turno</th>
        <th scope="col">Hora</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        {% for registro in registros %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ registro.producto.nombre }}</td>
                <td>{{ registro.cantidad }}</td>
                <td>{{ registro.fecha_produccion }}</td>
                <td>{{ registro.turno }}</td>
                <td>{{ registro.hora_registro }}</td>
                <td>
                    <a href="{% url 'modificar_produccion' registro.id %}" class="btn btn-warning">Modificar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<h4>Recuerde iniciar sesión</h4>
{% endif %}

{% endblock %}
