{% extends 'proyecto_tlp/base.html' %}

{% block title %}Produccion{% endblock %}

{% block 1 %}
<h1>Test</h1>
{% endblock %}

{% block 2 %}
<form>
    <select class="form-select" aria-label="Default select example">
        <option selected>Código combustible</option>
        <option value="1">G93</option>
        <option value="2">G95</option>
        <option value="3">G97</option>
        <option value="4">DIE</option>
        <option value="5">DIP</option>
        <option value="6">JA1</option>
        <option value="7">AVG</option>
      </select>
      <div class="mb-3">
        <input type="number" class="form-control" id="litro" placeholder="Litros de combustible">
      </div>
      <div class="mb-3">
        <input type="date" class="form-control" id="fecha" placeholder="Fecha">
      </div>
    <select class="form-select" aria-label="Lista turnos">
        <option selected>Turno</option>
        <option value="1">AM</option>
        <option value="2">PM</option>
        <option value="3">MM</option>
      </select>
      <div class="mb-3">
        <input type="number" class="form-control" id="hora" placeholder="Hora registro">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="operador" placeholder="Nombre operador">
      </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="check1">
      <label class="form-check-label" for="exampleCheck1">Leer</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

{% endblock %}

{% block 3 %}
<h1>Test</h1>
{% endblock %}