{% extends 'proyecto_tlp/base.html' %}

{% block title %}Registrar Producción{% endblock %}

{% block content %}
<h2>Registrar Producción</h2>
<form method="post">
  {% csrf_token %}
  <select name="producto" class="form-select" aria-label="Default select example">
    <option selected disabled>Código combustible</option>
    {% for producto in productos %}
      <option value="{{ producto.id }}">{{ producto.nombre }} ({{ producto.codigo }})</option>
    {% endfor %}
  </select>
  <div class="mb-3">
    <input type="number" name="planta" class="form-control" id="planta" min="1" max="3" placeholder="Planta">
  </div>
  <div class="mb-3">
    <input type="number" name="cantidad" class="form-control" id="litro" min="0" placeholder="Litros de combustible">
  </div>
  <div class="mb-3">
    <input type="date" name="fecha_produccion" class="form-control" id="fecha" placeholder="Fecha">
  </div>
  <select name="turno" class="form-select" aria-label="Lista turnos">
    <option selected disabled>Turno</option>
    <option value="AM">AM</option>
    <option value="PM">PM</option>
    <option value="MM">MM</option>
  </select>
  <div class="mb-3">
    <input type="time" name="hora_registro" class="form-control" id="hora" placeholder="Hora registro">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}
